// =====================================================
//
// Reset Password Style
//
// =====================================================

// common
// ================================== //
#reset_password {

  .c-ttl-secondary {
    border-bottom-color: $caution_color;
  }// .c-ttl-secondary
  .p-form_input_wrap {
    .p-form_input-border {
      background-color: $caution_color;
    }// .p-form_input-border
    .p-form_input {
      &:hover {
        background: rgba($caution_color,.025);
      }// &:hover
      &:focus {
        + .p-form_input-label {
          color: $caution_color;
        }// + .p-form_input-label
      }// &:focus
    }// .p-form_input
  }// .p-form_input_wrap

  @include mq(sp, max, true) {
  }// @include mq(sp, max, true)
  @include mq(pc) {
  }// @include mq(pc)
}// #reset_password
